.valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.no-space {
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
}

.pad-only {
	margin: 0px !important;
	padding: 5px !important;
	border: 0px !important;
}

.hidden {
	display: none;
}

/*color picker*/
label.colpic {
	width: 100% !important;
	height: 100% !important;
	margin: 0% !important;
	border-radius: 3% !important;
	transform: rotateY(180deg);
}

label.colpic:hover {
	width: 92% !important;
	height: 92% !important;
	margin: 4% !important;
	border-radius: 3% !important;
	transform: rotateY(180deg);
}

label.colpic::before, label.colpic::after {
	display: none !important;
}

input[type="radio"]:checked+label.colpic {
	border-radius: 100% !important;
	transform: rotateY(0deg);
}

input[type="radio"]:checked+label.colpic:hover {
	border-radius: 100% !important;
	transform: rotateY(0deg);
}

input[type="radio"]+label.colpic i {
	opacity: 0;
}

input[type="radio"]:checked+label.colpic i {
	opacity: 1;
	transition: opacity 0s 0.1s;
}

/*remove white line from modal*/
.modal {
	background-color: rgba(0, 0, 0, 0);
}

/*character counter*/
.character-counter {
	transform: translate(0px, -20px);
}

/*sticky footer*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

/* label color */
.input-field label {
	color: #757575;
}
/* label focus color */
.input-field input[type=text]:focus+label,
.input-field input[type=password]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=date]:focus+label ,
.input-field input[type=tel]:focus+label {
	color: #689f38;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus,
.input-field input[type=date]:focus,
.input-field input[type=tel]:focus {
	border-bottom: 1px solid #689f38;
	box-shadow: 0 1px 0 0 #689f38;
}
/* icon prefix color */
.input-field .prefix {
	color: #757575;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #689f38;
}